h1 {
  text-align: center;
  padding: 1em;
}
.head {
  font-size: larger;
  font-weight: bold;
  padding: 1em;
}
.timer {
  text-align: right;
}
.high-score-list {
  padding-left: 45%;
}
li {
  padding: .5em;
}
div {
  padding-left: 35%;
}
section {
  padding-left: 45%;
  margin: 25px;
  width: 350px;
  height: 200px;
}
body {
  background-color: lightblue;
}
